nav ul li {
  list-style: none;
  display: inline;
  float: right;
}
nav ul li a {
  text-decoration: none;
  display: block;
  padding: 1rem;
  color: #fff;
  font-size: 1rem;
}
.label {
  color: #fff;
  font: 10rem;
}
.hero-text {
  margin: 0 auto;
}
.hero-text h1,
p {
  color: #fff;
  font-size: 2rem;
}
.top-img {
  background: #0061f7;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}
.icons {
  color: #fff;
  font-size: 2rem;
}

.circular-image img {
  border-radius: 50%;
  width: 100%;
  height: auto;
  border: 5px solid #fff;
}
